name: Scala CI

on:
  push:
    branches: [ main ]
    paths:
      - 'src/**'
  pull_request:
    paths:
      - 'src/**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: coursier/cache-action@v6
      
      - uses: coursier/setup-action@v1
        with:
          jvm: "temurin:21"
          apps: sbt

      - name: Run tests
        run: sbt test
